@mixin font-face($font-family, $font-weight, $font-style, $font-src) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    font-display: swap;
    src: $font-src;
  }
}

@mixin reset {
  margin: 0;
  padding: 0;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


@mixin title {
  display: block;
  font-weight: 400;
  margin: 0;
}

@mixin title-line {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  height: 2px;
  background-color: $accent-color;
  z-index: -1;
}
