/* здесь используйте глобальные переменные */
$primary-color: #444444;
$basic-color: #000000;
$accent-color: #68b738;
$accent-color-hover: #5eaa2f;
$bacground-color: #f2f2f2;
$color-border: #e6e6e6;
$bacground-accent-color: rgba(104, 183, 56, 0.85);
$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
$primary-font: "Lato", "Arial", sans-serif;
$secondary-font: "Oswald", "Arial", sans-serif;
