.add-catalog {
  @include reset;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px 0 109px;
  }
}

.add-catalog::before {
  content: "";
  position: absolute;
  top: 12;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $accent-color;
  z-index: -1;

  @media (min-width: $tablet-width) {
    top: 16;
  }

  @media (min-width: $desktop-width) {
    top: 20px;
  }
}

.add-catalog__container {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }


  @media (min-width: $desktop-width) {
    @include flex-between;
  }
}

.add-catalog__list {
  @include reset-list;
  min-width: 280px;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    width: 708px;
    margin: 0 auto;
    border: 1px solid #cdcdcd;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    width: 896;
    border-left: none;
    border-right: none;
    margin: 0;
  }
}

.add-catalog__title {
  @include title;
  width: 286px;
  background-color: #ffffff;
  min-width: 280px;
  font-family: $secondary-font;
  color: $basic-color;
  font-size: 24px;
  line-height: 24px;
  padding: 0 40px 36px 20px;

  @media (min-width: $tablet-width) {
    width: 381px;
    font-size: 32px;
    line-height: 32px;
    padding: 0 40px;
    margin-bottom: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 456px;
    font-size: 40px;
    line-height: 40px;
  }
}
