.add-catalog-list__title {
  font-family: $secondary-font;
  color: #222222;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400;
}

.add-catalog-list__key {
  line-height: 20px;
}

.add-catalog-list__value {
  line-height: 14px;
}

.add-catalog-list__item {
  display: flex;
  flex-direction: column;
  padding: 13px 0 18px;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
  }
}

.add-catalog-list__button {
  min-width: 280px;
  padding: 10px 109px;
}

.add-catalog-list__description {
  display: flex;
  justify-content: space-between;
}
