.catalog {
  .catalog__container {
    width: 320px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 768px;
      padding: 65px 30px 74px;
    }
  }

  .catalog__title {
    display: block;
    width: 320px;
    font-family: $secondary-font;
    color: #000000;
    font-size: 36px;
    line-height: 36px;
    font-weight: 400;
    margin: 0;
    padding: 26px 30px 41px;
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;

    @media (min-width: $tablet-width) {
      width: 500px;
      padding: 0;
      border: none;
      font-size: 60px;
      line-height: 60px;
    }
  }

  .catalog__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .catalog-link__image {
    display: block;
  }
}
