.compare {
  @media (min-width: $tablet-width) {
    padding: 0 104px 101px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
  }
}

.compare__image {
  display: block;
  width: 560px;
  margin: 0 auto;

  &--fat {
    display: none;
  }
}
