.content__list {
  @include reset-list;
}

.content__list-item {
  @include flex-between;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 6px;
  }
}

.content__link {
  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.content__title {
  width: 76px;
  margin: 0;
  font-family: $secondary-font;
  color: #222222;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    width: 150px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 169px;
    padding: 0 15px;
    margin-bottom: 23px;
  }

  &--products {
    display: block;
    width: 100%;
    min-width: 280px;
    margin-bottom: 8px;
    text-align: center;
    padding-top: 53px;

    @media (min-width: $tablet-width) {
      width: 170px;
      margin-bottom: 23px;
      padding: 0 18px;
    }
  }
}

.content__description {
  display: block;
  min-width: 280px;
  text-align: center;
  margin: 0;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 170px;
    margin-bottom: 82px;
    font-size: 16px;
    line-height: 18px;
  }
}
