.copyright__text {
  font-size: 16px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    padding: 9px 4px 8px;
  }
}

.copyright__logotype {
  display: flex;
  align-items: center;
  position: relative;
  width: 27px;
  height: 34px;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 27px 34px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#logo_html");
}

.copyright:hover .copyright__logotype,
.copyright:focus .copyright__logotype {
  background-color: $accent-color;
}

.copyright:active {
  opacity: 0.3;
}
