.copyright {
  .copyright__link {
    text-decoration: none;
    color: #444444;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 280px;
    justify-content: space-between;
    padding-top: 20px;

    @media (min-width: $tablet-width) {
      width: 168px;
      padding: 0;
    }
  }

  .copyright__text {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }
}
