.example {
  background-color: #eaeaea;
  margin: 0 auto;

  .example__container {
    padding: 25px 20px 40px 25px;
    margin: 0 auto;
  }

  .example__title {
    font-family: $secondary-font;
    display: block;
    width: 280px;
    color: #000000;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;
  }

  .example__text {
    display: block;
    width: 280px;
    margin: 0;
    margin-bottom: 20px;
  }

  .example__expenses-text {
    font-family: $secondary-font;
    color: #000000;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
  }
}
