.example {
  background-color: $bacground-color;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    background-image: linear-gradient(to top, $bacground-color 462px, #ffffff 462px);
    padding-bottom: 101px;
    border-top: 1px solid #e6e6e6;
  }

  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to bottom, #ffffff 136px, $bacground-color 136px);
    padding: 0;
    border: none;
  }
}

.example__container {
  padding: 25px 20px 0;

  @media (min-width: $tablet-width) {
    padding: 45px 30px 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    display: grid;
    grid-template-rows: auto auto auto 75px;
    grid-template-columns: auto 436px 224px 560px auto;
    margin: 0 auto;
    padding: 0;
  }
}

.example__title {
  @include title;
  font-family: $secondary-font;
  color: $basic-color;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    margin-bottom: 148px;
    grid-area: 1 / 2 / 2 / 3;
  }
}

.example__text {
  display: block;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    width: 436px;
    margin-bottom: 67px;
    grid-area: 2 / 2 / 3 / 3;
  }
}

.example__list {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    @include flex-between;
    width: 708px;
    margin: 0 auto;
    margin-bottom: 99px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    width: 367px;
    margin: 0;
    grid-area: 3 / 2 / 3 / 4;
  }
}

.example__result-list {
  @include reset-list;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: auto;
    min-width: 367px;
    max-width: 60%;
    margin: 0;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-bottom: 55px;
  }
}

.example__expenses {
  font-family: $secondary-font;
  color: $basic-color;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    max-width: 174px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    text-align: end;
    gap: 9px;
  }

  @media (min-width: $desktop-width) {
    max-width: max-content;
    flex-direction: row;
    text-align: center;
    gap: 63px;
    padding: 0;
  }
}

.example__slider {
  display: grid;
  grid-template-columns: calc(var(--curtain-place) * 100%) auto calc((1 - var(--curtain-place)) * 100%);
  width: min(100%, 280px);
  aspect-ratio: 280/256;
  --curtain-place: 0.5;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: min(100%, 560px);
    aspect-ratio: 560/512;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    grid-area: 1 / 4 / 5 / 5;
  }
}
