.main-nav__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-width: 436px;
  }

  @media (min-width: $desktop-width) {
    min-width: 475px;
  }
}
