.main-header {
  background-image: none;

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    background-image:
      image-set(url("../../images/index-background-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/index-background-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/index-background-desktop@1x.jpg") type("image/jpeg") 1x,
      url("../../images/index-background-desktop@2x.jpg") type("image/jpeg") 2x),
      linear-gradient(90deg, #ffffff 50%, #64a83b 50%);
    background-repeat: no-repeat;
    background-size: 720px 694px, cover;
    background-position: top right, 0 50%;
  }

  &--catalog {
    background-image: none;

    @media (min-width: $tablet-width) {
      @include flex-between;
    }

    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.main-header__container {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;

  @media (min-width: $tablet-width) {
    @include flex-between;
    flex-direction: row;
    min-width: 768px;
    padding: 25px 30px 0;
  }

  @media (min-width: $desktop-width) {
    min-width: 1440px;
    padding: 55px 110px 0;
  }
}

.main-header__top {
  @include flex-between;
  padding: 13px 20px 15px;
  border-bottom: 1px solid #e6e6e6;
  position: relative;
  width: auto;
  min-height: 24px;

  @media (min-width: $tablet-width) {
    border: 0;
    padding: 0;
  }
}

.main-header__logo {
  text-decoration: none;
  width: 190px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__toggle {
  position: absolute;
  top: 20px;
  right: 21px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  padding: 0;

  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-header__container--closed .main-header__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 24px;
  background-color: $basic-color;
  mask-image: url("../../icons/stack.svg#menu-closed");
  mask-repeat: no-repeat;
  mask-position: 0 50%;
  mask-size: 24px 24px;
  border: none;
}

.main-header__container--closed .main-header__toggle:hover::before,
.main-header__container--closed .main-header__toggle:focus-visible::before {
  background-color: $primary-color;
}

@media (max-width: $mobile-width-only) {
  .main-header__container--closed .main-header__nav {
    display: none;
  }

  .main-header__container--opened .main-header__nav {
    position: absolute;
    top: 67px;
    left: 0;
    z-index: 10;
    min-height: 200px;
    min-width: 320px;
    width: 100%;
    background-color: #ffffff;
  }

  .main-header__container--nojs .main-header__nav {
    display: block;
    position: static;
    min-height: 0;
  }
}

.main-header__container--opened .main-header__toggle {
  top: 20px;
  right: 21px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    mask-image: url("../../icons/stack.svg#menu-opened");
    mask-size: 18px 18px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    background-color: $basic-color;
  }
}
