.main-footer {
  background-color: #f2f2f2;

  .main-footer__container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;

    @media (min-width: $tablet-width) {
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      padding: 55px 30px;
    }

    @media (min-width: $desktop-width) {
      padding: 66px 110px;
    }
  }

  .main-footer__logo-text {
    display: block;
    width: 280px;
    padding-bottom: 19px;
    border-bottom: 1px solid #d9d9d9;
    text-align: center;

    @media (min-width: $tablet-width) {
      padding: 0;
      border-bottom: none;
    }
  }
}
