.main-footer {
  @include flex-between;
  flex-direction: column;
  background-color: $bacground-color;
  padding: 40px 20px;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 55px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 110px;
  }
}

.main-footer__logo-text {
  display: block;
  min-width: 280px;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
  padding-bottom: 19px;


  @media (min-width: $tablet-width) {
    min-width: 128px;
    border-bottom: none;
    padding: 0;
  }
}

.main-footer__copyright {
  @include flex-between;
  text-decoration: none;
  color: $primary-color;
  min-width: 280px;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    min-width: 168px;
    padding: 0;
  }
}
