.main-header {
  @media (min-width: $desktop-width) {
    position: relative;
  }

  &::before {
    @media (min-width: $desktop-width) {
      content: "";
      z-index: -1;
      background-color: $accent-color;
      background-image:
        linear-gradient(90deg, $bacground-accent-color 50%, $bacground-accent-color 50%),
        image-set(url("../../images/index-background-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/index-background-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/index-background-desktop@1x.jpg") type("image/jpeg") 1x,
        url("../../images/index-background-desktop@2x.jpg") type("image/jpeg") 2x),
        linear-gradient(#413e44, #413e44 50%);
      background-repeat: no-repeat;
      background-size: cover, auto 694px, 100%;
      background-position: 100% top, top left, 100% top;
      width: 50%;
      min-height: 100%;
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &--catalog {
    @media (min-width: $desktop-width) {
      position: static;
    }
  }
}

.main-header--catalog::before {
  display: none;
}

.main-header__container {
  position: relative;


  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 25px 34px 0 30px;
    width: 768px;
    border: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 55px 110px 0;
  }
}

.main-header__logo {
  text-decoration: none;
  display: block;
  height: 65px;
  padding: 13px 20px 15px;

  @media (min-width: $tablet-width) {
    margin-right: auto;
    padding: 0;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    height: 59px;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.main-header__logo-image {
  width: 190px;
  height: 38px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 50px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.main-header__toggle {
  position: absolute;
  top: 20px;
  right: 21px;
  z-index: 2;
  display: block;
  width: 24px;
  height: 24px;
  background-color: $basic-color;
  mask-image: url("../../icons/stack.svg#menu-open");
  cursor: pointer;
  border: none;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }

  &:hover,
  &:focus-visible {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    display: none;
  }
}

.main-header__nav {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding-top: 14px;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
    padding-top: 16px;
  }
}

@media (max-width: $mobile-width-only) {
  .main-header__container--nojs .main-header__nav {
    display: block;
    position: static;
    min-height: auto;
    border-top: 1px solid $color-border;
  }

  .main-header__container--nojs .main-header__toggle {
    display: none;
  }

  .main-header__container--opened .main-header__nav {
    position: absolute;
    display: block;
    top: 65px;
    border-top: 1px solid $color-border;
    left: 0;
    z-index: 10;
    min-width: 320px;
    width: 100%;
    background-color: #ffffff;
  }

  .main-header__container--opened .main-header__toggle {
    mask-image: url("../../icons/stack.svg#menu-close");
    mask-size: 20px 20px;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    width: 20px;
    height: 21px;
    right: 20px;
  }
}
