.partnership {
  @media (min-width: $desktop-width) {
    grid-template-rows: 95px auto auto;
    grid-template-columns: auto 565px 90px 565px auto;
    display: grid;
  }

  &--catalog {
    background-color: $bacground-color;

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  }
}

.partnership__container {
  @include flex-between;
  margin: 0;
  padding: 26px 20px;

  @media (min-width: $tablet-width) {
    padding: 60px 70px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2 / 2 / 3 / 3;
    width: 565px;
    height: 199px;
    background-color: #ffffff;
    padding: 60px 80px 60px 78px;
    z-index: 2;
  }
}

.partnership__title {
  @include title;
  width: 140px;
  font-family: $secondary-font;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop-width) {
    min-width: 140px;
  }
}

.partnership__adress {
  display: block;
  width: 140px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: end;
    width: 157px;
    font-size: 16px;
    line-height: 20px;
    min-height: 80px;
  }

  @media (min-width: $desktop-width) {
    text-align: start;
    min-width: 140px;
  }
}

.partnership__map {
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 1 / 6 / 6;
  }
}

.partnership__map-yandex {
  @include reset;
  display: block;
  border: 0;
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}

.partnership--nojs .partnership__map {
  display: none;
}

.partnership__picture {
  display: none;
  height: 362px;
  background-image:
    image-set(url("../../images/map-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/map-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/map-mobile@1x.jpg") type("image/jpeg") 1x,
    url("../../images/map-mobile@2x.jpg") type("image/jpeg") 2x);
  background-size: 100% 362px;
  background-repeat: no-repeat;
  z-index: 1;

  @media (min-width: $tablet-width) {
    background-image:
      image-set(url("../../images/map-tablet@1x.webp") type("image/webp") 1x,
      url("../../images/map-tablet@2x.webp") type("image/webp") 2x,
      url("../../images/map-tablet@1x.jpg") type("image/jpeg") 1x,
      url("../../images/map-tablet@2x.jpg") type("image/jpeg") 2x);
    background-size: 100% 400px;
    height: 400px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 1 / 6 / 6;
    background-image:
      image-set(url("../../images/map-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/map-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/map-desktop@1x.jpg") type("image/jpeg") 1x,
      url("../../images/map-desktop@2x.jpg") type("image/jpeg") 2x);
    background-size: 100% 400px;
  }
}

.partnership--nojs .partnership__picture {
  display: block;
}
