.partnership {
  .partnership__title {
    font-family: "Oswald", sans-serif;
    color: #111111;
    font-size: 16px;
    line-height: 20px;
  }

  .partnership__adress {
    line-height: 20px;
  }

  &--catalog {
    background-color: #f2f2f2;
  }
}
