.products {
  display: block;
  text-align: center;
  background-image: url("../../icons/stack.svg#plus");
  background-repeat: no-repeat;
  background-position: center 25px;
  background-size: 30px 30px;

  @media (min-width: $tablet-width) {
    background-position: center 50px;
    background-size: 60px 60px;
  }
}

.products__title {
  @include title;
  display: block;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
  padding-top: 60px;
  margin-bottom: 8px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    min-width: 170px;
    padding: 107px 45px 0;
    margin-bottom: 23px;
  }

  @media (min-width: $desktop-width) {
    padding: 97px 18px 0;
    margin-bottom: 26px;
  }
}

.products__description {
  font-size: 12;
  line-height: 16px;
  display: block;
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 82px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
    padding: 0;
  }
}
