.program {
  background-color: #d9d9d9;

  .program__title {
    font-family: "Oswald", sans-serif;
    font-size: 24px;
    line-height: 37px;
    color: #000000;
    text-transform: uppercase;
  }

  .program__link {
    font-family: "Oswald", sans-serif;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: #000000;
  }
}
