.programs-list {
  padding: 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px 45px;
  }

  @media (min-width: $desktop-width) {
    @include flex-between;
    width: 1440px;
    gap: 40px;
    padding: 82px 110px 71px;
    margin: 0 auto;
  }
}

.programs-list__item {
  background-color: $bacground-color;
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}
