.program {
  padding: 30px 20px 18px;

  @media (min-width: $tablet-width) {
    padding: 77px 53px 53px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 61px 55px 52px;
  }
}

.program--slim {
  background-image: url("../../icons/stack.svg#cat-slim");
  background-size: 50px 53px;
  background-position: left 20px top 21px;

  @media (min-width: $tablet-width) {
    background-size: 200px 211px;
    background-position: right 63px top 81px;
  }

  @media (min-width: $desktop-width) {
    background-size: 100px 106px;
    background-position: 52px 41px;
  }
}

.program--pro {
  background-image: url("../../icons/stack.svg#cat-pro");
  background-size: 67px 50px;
  background-position: left 12px top 24px;

  @media (min-width: $tablet-width) {
    background-size: 268px 200px;
    background-position: right 29px top 91px;
  }

  @media (min-width: $desktop-width) {
    background-size: 134px 100px;
    background-position: 33px 47px;
  }
}

.program--pro .program__link {
  width: 130px;

  @media (min-width: $tablet-width) {
    width: 162px;
  }
}

.program__title {
  @include title;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 37px;
  color: $basic-color;
  text-transform: uppercase;
  word-break: break-all;
  padding-left: 70px;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-left: 0;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
}

.program__description {
  margin: 0;
  padding-right: 13px;
  padding-bottom: 22px;
  border-bottom: 1px solid #d9d9d9;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    width: 56%;
    padding: 0;
    border-bottom: none;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 457px;
    padding: 0;
    margin-bottom: 23px;
  }
}

.program__link {
  @include flex-between;
  width: 134px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: $basic-color;
  padding: 4px 0;

  @media (min-width: $tablet-width) {
    width: 165px;
    font-size: 20px;
    line-height: 30px;
  }

  &:active {
    opacity: 0.3;
  }
}

.program__link::after {
  display: block;
  width: 32px;
  height: 12px;
  content: "";
  mask-image: url("../../icons/stack.svg#icon-arrow-link");
  mask-repeat: no-repeat;
  mask-position: 0 50%;
  mask-size: 32px 12px;
  background-color: $basic-color;

  @media (min-width: $tablet-width) {
    top: 14px;
  }
}

.program__link:hover::after,
.program__link:focus-visible::after {
  mask-image: url("../../icons/stack.svg#icon-arrow");
}
