.promote {
  min-width: 280px;
  background-color: $accent-color;
  background-image:
    url("../../icons/stack.svg#icon-promote"),
    linear-gradient(to bottom, $bacground-accent-color, $bacground-accent-color),
    image-set(url("../../images/promote-background-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/promote-background-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/promote-background-mobile@1x.jpg") type("image/jpeg") 1x,
    url("../../images/promote-background-mobile@2x.jpg") type("image/jpeg") 2x),
    linear-gradient(#ffffff, #ffffff 50%);
  background-repeat: no-repeat;
  background-size: 78px 80px, cover, 280px 290px, cover;
  background-position: 50% 59px, 100%, 50% 0, 100%;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 187px 61px 43px 58px;

  @media (min-width: $tablet-width) {
    min-width: auto;
    width: 708px;
    margin: 0 auto;
    background-image:
      url("../../icons/stack.svg#icon-promote"),
      linear-gradient(to bottom, $bacground-accent-color, $bacground-accent-color),
      image-set(url("../../images/promote-background-tablet@1x.webp") type("image/webp") 1x,
      url("../../images/promote-background-tablet@2x.webp") type("image/webp") 2x,
      url("../../images/promote-background-tablet@1x.jpg") type("image/jpeg") 1x,
      url("../../images/promote-background-tablet@2x.jpg") type("image/jpeg") 2x),
      linear-gradient(#ffffff, #ffffff 50%);
    background-size: 80px 83px, cover, 708px 200px, cover;
    background-position: 77px 50%, 100%, 50% 0, 100%;
    padding: 71px 125px 69px 421px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    margin: 0;
    background-image:
      url("../../icons/stack.svg#icon-promote"),
      linear-gradient(to bottom, $bacground-accent-color, $bacground-accent-color),
      image-set(url("../../images/promote-background-desktop@1x.webp") type("image/webp") 1x,
      url("../../images/promote-background-desktop@2x.webp") type("image/webp") 2x,
      url("../../images/promote-background-desktop@1x.jpg") type("image/jpeg") 1x,
      url("../../images/promote-background-desktop@2x.jpg") type("image/jpeg") 2x),
      linear-gradient(#9c9c9c, #9c9c9c 50%);
    background-size: 80px 83px, cover, 245px 288px, cover;
    background-position: 50% 56px, top, top, top;
    padding: 185px 42px 43px;
  }
}

.promote__description {
  display: block;
  margin: 0 auto;
  width: 161px;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    text-align: center;
  }
}
