.promo__container {
  font-family: $secondary-font;
  width: 320px;
  color: #ffffff;
  background-image: url("../../images/background-index-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 320px 302px;
  background-position: 50% top, 0 0;
  padding: 27px 29px 0 36px;
  margin: 0 auto;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/background-index-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    position: relative;
    background-image: none;
    padding: 27px 0 579px 120px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    position: relative;
    background-image: none;
    padding: 0 0 184px 190px;
  }
}

.promo__title {
  display: block;
  width: 250px;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    color: #000000;
    text-align: start;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 110px;
  }
}

.promo__slogan {
  display: block;
  width: 200px;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    width: 290px;
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    color: #000000;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__button {
  display: block;
  width: 280px;
  padding: 10px 44px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    padding: 14px 26px;
    margin: 0;
    position: absolute;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    position: absolute;
    bottom: 0;
    left: 30px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 29px;
    left: 557px;
  }
}

.promo a {
  text-decoration: none;
}
