.promo {
  font-family: $secondary-font;
  color: #ffffff;

  @media (max-width: $mobile-width-only) {
    background-color: $accent-color;
    background-image:
      image-set(url("../../images/index-background-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index-background-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/index-background-mobile@1x.jpg") type("image/jpeg") 1x,
      url("../../images/index-background-mobile@2x.jpg") type("image/jpeg") 2x),
      linear-gradient(to bottom, #64a73b 63%, #ffffff 47%);
    background-repeat: no-repeat;
    background-size: 320px 302px, cover;
    background-position: 50% top;
  }

  @media (min-width: $tablet-width) {
    color: $basic-color;
    background-color: transparent;
  }
}


.promo__container {
  padding: 27px 20px 0;
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 65px 30px 580px 120px;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: 1440px;
    padding: 110px 110px 184px 190px;
  }
}

.promo__title {
  @include title;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    width: 420px;
    font-size: 60px;
    line-height: 60px;
    text-align: start;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 500px;
  }
}

.promo__slogan {
  display: block;
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    text-align: start;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
    max-width: 500px;
  }
}

.promo__button {
  width: 280px;
  padding: 10px 44px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 26px;
    width: 244px;
    padding: 14px 26px;
    margin: 0;
    position: absolute;
    z-index: 1;
  }

  @media (min-width: $desktop-width) {
    position: static;
  }
}

.promo__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 3px;
  width: 280px;
  height: 270px;

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 709px;
    height: 609px;
    bottom: 0;
    left: 30;
  }

  @media (min-width: $desktop-width) {
    width: 552px;
    height: 499px;
    bottom: 52px;
    left: 557px;
  }
}
