.promote {
  min-width: 280px;
  margin: 0 auto;
  background-image:
    url("../../icons/stack.svg#icon-promote"),
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)),
    image-set(url("../../images/promote-background-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/promote-background-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/promote-background-mobile@1x.jpg") type("image/png") 1x,
    url("../../images/promote-background-mobile@2x.jpg") type("image/png") 2x);
  background-repeat: no-repeat;
  background-size: 78px 80px, cover, auto 290px;
  background-position: 50% 59px, 100%, 50% 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 187px 61px 43px 58px;

  .promote__description {
    display: block;
    margin: 0 auto;
    width: 161px;
    text-align: center;
  }
}
