.promote {
  background-color: #68b738;
  width: 280px;
  margin: 0 auto;
  background-image: url("../../icons/stack.svg#icon-promote"), url("../../images/background-catalog-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 78px 80px, 280px 290px;
  background-position: 50% 59px, 100%;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 187px 61px 43px 58px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../icons/stack.svg#icon-promote"), url("../../images/background-catalog-mobile@2x.jpg");
  }

  .promote__description {
    display: block;
    margin: 0;
    width: 161px;
    text-align: center;
  }
}
