.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.site-list__link {
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;


  @media (min-width: $desktop-width) {
    color: #ffffff;
  }

  &--catalog {
    color: #111111;
  }
}
