.site-list {
  @media (min-width: $tablet-width) {
    @include flex-between;
  }
}

.site-list__item {
  padding: 22px 20px 24px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    padding: 0;
    border: 0;
  }
}

.site-list__link {
  font-family: $secondary-font;
  color: $basic-color;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  position: relative;

  &:hover,
  &:focus-visible {
    opacity: 0.6;
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    font-size: 20px;
    line-height: 30px;
  }

  &--active::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background-color: $accent-color;
      margin-top: 10px;
    }

    @media (min-width: $desktop-width) {
      background-color: #ffffff;
    }
  }

  &--catalog {
    @media (min-width: $desktop-width) {
      color: $basic-color;
    }
  }
}
