.slider {
  display: grid;
  grid-template-columns: 140px auto 140px;
  width: 280px;
  height: 256px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 280px auto 280px;
    width: 560px;
    height: 512px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    content: "";
    top: 0;
    right: 110px;
  }
}

.slider__image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;

  &--fat {
    object-position: left;
  }

  &--thin {
    object-position: right;
  }
}

.slider__curtain {
  z-index: 1;
  display: grid;
  place-items: center;
  margin: 0 -2px;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  color: #666666;
  background-color: currentColor;
  cursor: col-resize;
  transition: color 0.2s, opacity 0.2s;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:active {
    color: #5eaa2f;
  }
}

.slider__thumb {
  display: grid;
  margin: -18px;
  padding: 0;
  width: 40px;
  height: 40px;
  color: currentColor;
  background-color: #ffffff;
  border: 2px solid currentColor;
  border-radius: 50%;
  cursor: col-resize;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: currentColor;
    mask-image: url("../../icons/stack.svg#thumb");
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 24px 18px;
  }
}
