.slider__image {
  display: block;
  width: 100%;
  height: 256px;
  object-fit: cover;

  @media (min-width: $tablet-width) {
    height: 512px;
  }

  &--fat {
    object-position: left;
  }

  &--thin {
    object-position: right;
  }
}

.slider__thumb {
  @include reset;
  place-items: center;
  width: 4px;
  height: 100%;
  border-radius: 2px;
  color: #666666;
  border: 2px solid currentColor;
  background-color: #666666;
  cursor: col-resize;
  transition: color 0.2s, opacity 0.2s;
  position: relative;

  &:hover,
  &:focus-visible {
    color: $accent-color;
    background-color: $accent-color;
  }

  &:active {
    color: #5eaa2f;
    background-color: #5eaa2f;
  }

  &::before {
    content: "";
    position: absolute;
    top: 108px;
    right: -20px;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 2px solid currentColor;
    border-radius: 50%;
    z-index: 1;

    @media (min-width: $tablet-width) {
      top: 236px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 119px;
    right: -12px;
    width: 24px;
    height: 18px;
    background-color: currentColor;
    mask-image: url("../../icons/stack.svg#thumb");
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 24px 18px;
    z-index: 3;

    @media (min-width: $tablet-width) {
      top: 247px;
    }
  }
}
