.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  padding: 19px 0;
  border-bottom: 1px solid #d9d9d9;


  @media (min-width: $tablet-width) {
    padding: 0;
    border-bottom: none;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  position: relative;
  width: 28px;
  height: 22px;


  &::before {
    content: "";
    display: block;
    width: 28px;
    height: 22px;
    position: absolute;
    mask-repeat: no-repeat;
    mask-position: 50% 50%;
    mask-size: 28px 22px;
    background-color: #666666;
  }

  &--vk::before {
    mask-image: url("../../icons/stack.svg#vkontakte");
  }

  &--youtube::before {
    mask-image: url("../../icons/stack.svg#youtube");
  }

  &--telegram::before {
    mask-image: url("../../icons/stack.svg#telegram");
  }
}

.social-list__link:hover::before,
.social-list__link:focus-visible::before {
  background-color: $accent-color;
}

.social-list__link:active::before {
  opacity: 0.3;
}
