.social-list {
  @include reset-list;
  min-width: 280px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 19px;
  border-bottom: 1px solid #d9d9d9;


  @media (min-width: $tablet-width) {
    min-width: 0;
    width: 132px;
    padding: 0;
    border-bottom: none;
  }
}

.social-list__link {
  display: flex;
  align-items: center;
  position: relative;
  width: 28px;
  height: 28px;
  mask-repeat: no-repeat;
  mask-position: 50% 50%;
  mask-size: 28px 22px;
  background-color: #666666;

  &--vk {
    mask-image: url("../../icons/stack.svg#vkontakte");
    margin-right: 24px;
  }

  &--youtube {
    mask-image: url("../../icons/stack.svg#youtube");
    margin-right: 24px;
  }

  &--telegram {
    mask-image: url("../../icons/stack.svg#telegram");
  }

  &:hover,
  &:focus-visible {
    background-color: $accent-color;
  }

  &:active {
    opacity: 0.3;
  }
}
