.specification {
  .specification__title {
    font-family: "Oswald", sans-serif;
    color: #000000;
    font-size: 36px;
    line-height: 40px;
  }

  .specification__image-wrapper {
    background-color: #68b738;
  }
}
