.specification {
  margin: 0;
  padding: 0 20px;


  @media (min-width: $tablet-width) {
    padding: 0 105px 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 106px 69px 110px;
  }
}

.specification__title {
  @include title;
  min-width: 280px;
  font-family: $secondary-font;
  color: $basic-color;
  font-size: 36px;
  line-height: 40px;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.specification__list {
  @include reset-list;
  min-width: 280px;

  @media (min-width: $tablet-width) {
    @include flex-between;
  }
}

.specification__item {
  display: flex;
  position: relative;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    font-size: 16px;
    line-height: 24px;
    padding-top: 40px;
    padding-bottom: 57px;

    &--nutrition {
      width: 230px;
    }

    &--powder {
      width: 246px;
    }

    &--change {
      width: 247px;
    }

    &--effect {
      width: 249px;
    }
  }

  @media (min-width: $desktop-width) {
    &--change {
      width: 248px;
    }

    &--effect {
      width: 250px;
    }
  }
}

.specification__item::before {
  content: "";
  display: block;
  background-color: $accent-color;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin: 0;
    margin-bottom: 31px;
  }
}

.specification__item--nutrition::before {
  background-image: url("../../icons/stack.svg#icon-nutrition");
  background-size: 30px 32px;
}

.specification__item--powder::before {
  background-image: url("../../icons/stack.svg#icon-powder");
  background-size: 26px 29px;
}

.specification__item--change::before {
  background-image: url("../../icons/stack.svg#icon-change");
  background-size: 25px 30px;
}

.specification__item--effect::before {
  background-image: url("../../icons/stack.svg#icon-effect");
  background-size: 25px 30px;
  margin-bottom: 49px;

  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}

.specification__item--nutrition::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "1";
    top: 0;
    right: 23px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $bacground-color;
    z-index: -1;
  }
}

.specification__item--powder::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "2";
    top: 0;
    right: 3px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $bacground-color;
    z-index: -1;
  }
}

.specification__item--change::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "3";
    top: 0;
    right: 3px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $bacground-color;
    z-index: -1;
  }
}

.specification__item--effect::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "4";
    top: 0;
    right: 3px;
    font-family: $secondary-font;
    font-size: 280px;
    line-height: 280px;
    color: $bacground-color;
    z-index: -1;
  }
}
