.specification {
  .specification__container {
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 768px;
      padding: 0 105px 0 30px;
    }

    @media (min-width: $desktop-width) {
      width: 1440px;
      padding: 0 106px 69px 110px;
    }
  }

  .specification__title {
    display: block;
    font-family: $secondary-font, sans-serif;
    color: #000000;
    font-size: 36px;
    line-height: 40px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 40px;

    @media (min-width: $tablet-width) {
      font-size: 60px;
      line-height: 60px;
      margin-bottom: 32px;
    }
  }

  .specification__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 37px 135px;
    }

    @media (min-width: $desktop-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 0;
    }
  }

  .specification__item {
    display: flex;
    width: 280px;
    position: relative;

    @media (min-width: $tablet-width) {
      width: 249px;
      flex-direction: column;
      font-size: 16px;
      line-height: 24px;
      padding-top: 40px;
      padding-bottom: 57px;
    }

    @media (min-width: $desktop-width) {
      width: 250px;
    }
  }

  .specification__item::before {
    content: "";
    display: block;
    background-color: #68b738;
    background-repeat: no-repeat;
    background-position: center;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    margin-right: 20px;
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      width: 80px;
      height: 80px;
      margin: 0;
      margin-bottom: 31px;
    }
  }

  .specification__item--nutrition::before {
    background-image: url("../../icons/stack.svg#icon-nutrition");
    background-size: 30px 32px;
  }

  .specification__item--powder::before {
    background-image: url("../../icons/stack.svg#icon-powder");
    background-size: 26px 29px;
  }

  .specification__item--change::before {
    background-image: url("../../icons/stack.svg#icon-change");
    background-size: 25px 30px;
  }

  .specification__item--effect::before {
    background-image: url("../../icons/stack.svg#icon-effect");
    background-size: 25px 30px;
    margin-bottom: 49px;

    @media (min-width: $tablet-width) {
      margin-bottom: 31px;
    }
  }

  .specification__item--nutrition::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "1";
      top: 0;
      right: 23px;
      font-family: $secondary-font, sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      z-index: -1;
    }
  }

  .specification__item--powder::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "2";
      top: 0;
      right: 3px;
      font-family: $secondary-font, sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      z-index: -1;
    }
  }

  .specification__item--change::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "3";
      top: 0;
      right: 3px;
      font-family: $secondary-font, sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      z-index: -1;
    }
  }

  .specification__item--effect::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "4";
      top: 0;
      right: 3px;
      font-family: $secondary-font, sans-serif;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      z-index: -1;
    }
  }
}
